/* COLORS */

$color__primary:#88d301;         
$color__primary--light:#acd465;
$color__primary--dark:#669e02;

$color__grey--light:#C9C9C9;
$color__grey--middle:#696969;
$color__grey:#444444;
$color__grey--dark:#111111;

$color__white--greish:#FBFBFB;
$color__white--whitish: #FDFDFD;

$color__blue--dark:#332f52;

/* FONTS */
$base__font-size:15px;

/* OTHERS */ 

$height__body-bdr:0.8vh;
$height__page-hdr:10vh;
$height__options:50px;
$width__body:60px;
$width__date:70px;
$padding__list-items:20px;